/* public/css/about.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
:root {
    --main-color: #FEA000;
  }
  
body{
    width: 100%;
    min-height: 100vh;
    background: #1A1A1A;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
section{
    width: 100%;
    position: relative;
}
.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2vw 4vw;
    background: #1A1A1A;
    z-index: 1000;
}
.logo{
    position: relative;
    margin-top: -20px; 
    margin-bottom: -20px;
    margin-left: 20px;
    color: white;
    font-size: 1.77vw;
    letter-spacing: 0;
    font-weight: bold;
}
.logo span{
    color: #FEA000;
}

.mainmenu{
    display: flex;
    margin: auto 0;
}
.mainmenu li{
    list-style: none;
    margin: 0 1.9vw;
    transition: all ease .50s;
}
.mainmenu li a{
    display: block;
    color: #ECEBD6;
    font-size: 1vw;
    letter-spacing: 1px;
    text-decoration: none;
}

.mainmenu a.active{
    color: #FEA000;
    text-shadow: 3px 3px 20px var(--main-color);
}
.mainmenu li:hover a{
    color: #FEA000;
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px #1A1A1A;
}
.section{
    padding: 0 15%;
}
input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.navbar label{
    display: none;
}

.aboutme{
    display: flex;
    width: 80%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.fullname{
    margin-top: 50px;
}
.aboutme-container{
    position: relative;
    width: 100%;
    padding-left: 4rem;
    padding-top: 105rem; /*spacing*/
    row-gap: 0;
    margin-top: 30px;
}
.aboutme-title{
    padding-left: 1.25rem;
    margin-top: 50px;
    letter-spacing: 2px;

}
.aboutme .aboutme-container h1{
    border-bottom: 2px solid #FEA000;
    padding-bottom: 20px;
}

.mypersonInfo{
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-gap: 20px 30px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #FEA000;
    padding-left: 1.25rem;
    font-size: 1.25rem;
}

.mypersonInfo p{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FEA000;
}
.mypersonInfo p strong{
    color: white;
    letter-spacing: 1px;
}
.persIn-title{
    padding-left: 1.25rem;
    letter-spacing: 2px;
}
.persIn-title h2.span{
    color: #FEA000;
}

.educinfo{
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #FEA000;
    padding-left: 1.25rem;
    font-size: 1.25rem;
}
.educ-title{
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.myeducInfo h3{
    margin-top: 25px;
    color: #ecebd69f;
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.myeducInfo h3::before {
    content: "\2022"; /* Unicode character for bullet point */
    display: inline-block;
    width: 1em; /* Adjust as needed */
    margin-left: -1em; /* Adjust as needed */
    color: #FEA000;
}
.myeducInfo p{
    color: white;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.myeducInfo p{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.myeducInfo div strong{
    color: white;
    letter-spacing: 1px;
}
.aboutme h4{
    margin-top: 400px;
    color: white;
    padding-left: 1.25rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.aboutme h1{
    color: #FEA000;
    font-size: 2.50rem;
    margin-bottom: 20px;
    padding-left: 1.25rem;
}
.aboutme span{
    color: white;
}
.aboutme h2{
    color: #FEA000;
    font-size: 1.50rem;
}
.aboutme span{
    color: white;
}
.aboutinfo, .careerinfo{
    padding-left: 1.25rem;
    font-size: 1.25rem;
}
.aboutinfo p{
    position: relative;
    margin-top: 20px;
    color: white;
    margin-bottom: 1.5rem;
}
.careergoal-title{
    padding-left: 1.25rem;
    letter-spacing: 2px;
}

.careerinfo{
    padding-left: 1.25rem;

}
.careerinfo p{
    position: relative;
    color: white;
    margin-top: 20px;
    margin-bottom: 1.5rem;
}
.skillsSection{
    display: grid;
 
}
.languages h2{
    margin-top: 1.25rem;
    padding-left: 1.25rem;
    letter-spacing: 2px;
}
.skillsSection div{
    color: white;
}
.skillsSection .languages .subject{
    padding-left: 1.25rem;
    margin-top: 20px;
    font-size: 1.25rem;
}
.skillsSection .progress_bar {
    width: 100%; 
    height: 15px; 
    background-color: #f0f0f0; 
    border-radius: 4px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.skillsSection .progress_line {
    height: 100%; 
    background-color: #FEA000; 
    border-radius: 5px;
}
.skills-text{
    padding-left: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.interSkills-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, min-content));
    align-items: center;
    gap: 2.3rem;
    margin-top: 2.2rem;
    padding-left: 1.2rem;

}
.box{
    padding: 80px 40px 66px;
    background: #1A1A1A;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow:  0 0 5px var(--main-color);
    transition: all .50s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
}
.box img{
    margin-bottom: 20px;
    display: block;
}
.box h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.box p{
    font-weight: 400;
    color: #ecebd69f;
    line-height: 20px;
    margin-bottom: 20px;
}
.read-more-container span{
    color: #ecebd69f;
}
.skills-text{
    margin-top: 20px;
    padding-left: 1.25rem;
    letter-spacing: 2px;
}
.read-more-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.read-more-container .read-more-btn {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color); 
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.read-more-btn:hover{
    border: 2px solid var(--main-color);
    transform: translateY(-0.5px) scale(1.03);
    box-shadow: 0 0 10px #FEA000;
}
.read-more-text{
    display: none;
}
.read-more-text--show{
    display: inline;
}


@media screen and (max-width: 768px) {
    .body{
        overflow: auto;
    }
    .logo {
        font-size: 5vw; 
        margin-top: 2px; 
        margin-bottom: 2px; 
    }
    .navbar label{
        display: block;
        color: #ECEBD6;
        font-size: 4vw;
        padding: 1vw 1.5vw;
        background: #1A1A1A;
        z-index: 1000;
        border-radius: 5px;
        cursor: pointer;
    }

    .logo img {
        width: 80px; 
    }

    .mainmenu{
        position: fixed;
        top: 0;
        right: -40vw;
        width: 40vw;
        height: 100%;
        background: #ECEBD6;
        padding-top: 15vw;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        transition: 0.3s ease;
    }
    .mainmenu li a{
        color: #1A1A1A;
        font-size: 4vw;
        margin: 1.5vw 0;
    }
    #check:checked ~ section .navbar .mainmenu{
        right: 0;
    }
    .aboutme{
        flex-wrap: wrap;

    }
    .aboutme-container{
        width: 100%;
        padding: 15vw 10vw;
        z-index: 100%;
    }
    .aboutme-container h1{
        font-size: 6vw;
        line-height: 10vw;
    }
    .aboutme-container p{
        font-size: 3vw;
        line-height: 3vw;
    }
    .aboutinfo p{
        line-height: 4vw;
    }
    .careerinfo p{
        line-height: 4vw;
    }
    .icon{
        position: fixed;
        z-index: 100;
    }
    .icon .fa-brands{
        padding: 1.7vw;
    }
    ::-webkit-scrollbar{
        width: 12px;
    }
    ::-webkit-scrollbar-track{
        background-color: black;
    }
    ::-webkit-scrollbar-thumb{
        background-color: #ECEBD6;
        border-radius: 50px;
    }
    .animated-text span::after{
        height: 50%;
    }
    .mypersonInfo{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .skillsSection .languages .subject{
        font-size: 1rem;
    }
    .aboutme-container{
        margin-top: -400px;
    }
    .mypersonInfo {
        display: grid;
        grid-gap: 10px;
        margin-top: 30px;
        padding-left: 1.25rem;
        font-size: 1.25rem;
    }
    .mypersonInfo h3 {
        margin-bottom: 5px;
    }
    .mypersonInfo p {
        margin: 0;
    }
}