* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #1a1a1a;
}
.header {
    display: flex; /* Aligns items horizontally */
    align-items: center; /* Centers items vertically */
    justify-content: space-between; /* Adds space between logo and title */
    padding: 20px; /* Padding around the header */
    background-color: #333; /* Dark background color */
    color: white; /* White text color */
    position: absolute; /* Position header absolutely */
    width: 100%; /* Ensure the header takes full width */
    top: 0; /* Aligns to the top of the page */
    left: 0; /* Aligns to the left of the page */
}

.logo {
    font-size: 2em; /* Size of the logo */
    font-weight: bold; /* Bold text for emphasis */
}

.logo span{
    color: #FEA000;
}
.denied-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    max-width: 400px; /* Set max width to keep the box manageable */
    margin: 50px auto; /* Center the box on the page */
}

.denied-box img {
    max-width: 100%; /* Make the image responsive */
    height: auto;
    margin-bottom: 15px; /* Spacing between image and text */
}

.denied-box p {
    font-size: 16px;
    color: white; 
    margin: 0;
    font-weight: bold; 
    margin-bottom: 20px;
}

.back-button {
    background-color: #FEA000; 
    color: black; 
    border: 1px solid #f5c2c7; 
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.back-button:hover {
    background-color: white; 
    border: 1px solid #FEA000; 
}
