/* public/css/welcome.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #007BFF;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}
