/* public/css/welcome.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --main-color: #FEA000;
  }
  
body{
    width: 100%;
    min-height: 100vh;
    background: #1A1A1A;
}